<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{view/header :: header}"></div>

<div class="post-container">
    <header>
        <h1>게시물 수정</h1>
    </header>
    <form th:action="@{/posts/edit/{id}(id=${post.postId})}" method="post" enctype="multipart/form-data">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required>

        <label for="content">내용:</label>
        <textarea id="content" name="content" required></textarea>

        <label for="tags">태그 (쉼표로 구분):</label>
        <input type="text" id="tags" name="tags">

        <label for="images">이미지 업로드:</label>
        <input type="file" id="images" name="image" multiple>

        <input type="submit" value="수정">
    </form>
</div>
</body>
<script>
    // 공통 함수로 드롭다운 토글 기능 정의
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown-content');
        dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'block' : 'none';
    }

    // profile-pic에 클릭 이벤트 리스너 추가
    var profilePics = document.querySelectorAll('.profile-pic');
    profilePics.forEach(function(pic) {
        pic.addEventListener('click', toggleDropdown);
    });

    // 클릭 외부 감지하여 드롭다운 닫기
    document.addEventListener('click', function(event) {
        var isClickInside = document.querySelector('.header-right').contains(event.target);
        if (!isClickInside) {
            var dropdown = document.getElementById('dropdown-content');
            dropdown.style.display = 'none';
        }
    });
</script>
</html>
