<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">게시글 상세</title>
    <link rel="stylesheet" href="/css/postDetail.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/like.css">
</head>
<body>
<!-- 헤더 파일을 포함 -->
<div th:replace="~{view/header :: header}"></div>
<div class="container">
    <h1 th:text="${post.title}">게시글 제목</h1>
    <hr>
    <div class="post-content">
        <div th:if="${post.images[0].filePath != null}" class="post-images">
            <div th:each="image : ${post.images}">
                <img th:src="@{{fileName}(fileName=${image.filePath})}" alt="이미지">
            </div>
        </div>
        <h2 th:text="${post.content}">게시글 내용</h2>
    </div>
    <hr>
    <p th:text="'조회수 : '+${post.view}">조회수</p>
    <p th:text="${likes}+' likes'"></p>
    <div th:if="${userId != 0 && userId != post.blog.user.id}">
        <input type="checkbox" id="likeCheckbox" name="like" class="like-checkbox" th:checked="${likedByCurrentUser}">
        <label for="likeCheckbox" class="like-label">&#x2764;</label>
    </div>

    <div class="button-container">
        <button onclick="goBack()">돌아가기</button>
        <button onclick="location.href='/posts/update/${post.postId}'">수정</button>
        <form th:action="@{/posts/delete/{id}(id=${post.postId})}" method="post" style="display:inline;">
            <button type="submit" class="delete" onclick="return confirm('정말로 이 게시물을 삭제하시겠습니까?')">게시물 삭제</button>
        </form>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
</body>
<script>
    // 공통 함수로 드롭다운 토글 기능 정의
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown-content');
        dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'block' : 'none';
    }

    // profile-pic에 클릭 이벤트 리스너 추가
    var profilePics = document.querySelectorAll('.profile-pic');
    profilePics.forEach(function(pic) {
        pic.addEventListener('click', toggleDropdown);
    });

    // 클릭 외부 감지하여 드롭다운 닫기
    document.addEventListener('click', function(event) {
        var isClickInside = document.querySelector('.header-right').contains(event.target);
        if (!isClickInside) {
            var dropdown = document.getElementById('dropdown-content');
            dropdown.style.display = 'none';
        }
    });

    document.getElementById('likeCheckbox').addEventListener('change', function() {
        var checked = this.checked;
        fetch(`/posts/like/${[[${post.postId}]]}?like=${checked}`, {
            method: 'POST'
        })
            .then(response => {
                if (response.ok) {
                    console.log('좋아요 상태가 변경되었습니다.');
                } else {
                    console.error('좋아요 상태 변경 중 오류 발생.');
                }
            })
            .catch(error => console.error('요청 중 오류 발생:', error));
    });
</script>
</html>
