.body-container {
    font-family: Arial, sans-serif;
    background-color: #645fa6; /* 배경 색상 */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content-container {
    background-color: #ffffff; /* 배경색 */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* 텍스트 중앙 정렬 */
    max-width: 400px; /* 최대 너비 설정 */
    width: 100%; /* 전체 너비 설정 */
}

h1 {
    color: #333333;
    margin-bottom: 20px; /* h1 아래 여백 추가 */
}

ul {
    list-style: none; /* 리스트 불릿 제거 */
    padding: 0;
}

li {
    margin-bottom: 10px; /* 리스트 아이템 간 간격 */
}

button {
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none; /* 링크 밑줄 제거 */
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ddd; /* 호버 효과 */
}

body {
    margin: 0;
}
