<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>블로그</title>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
<div class="blog-container">
    <header>
        <h1 th:text="${blog.title}">블로그 제목</h1>
        <nav>
            <ul>
                <li><a href="/api/blogs">홈</a></li>
                <li><a href="/api/posts/new">새 글 작성</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div th:if="${blog.posts.isEmpty()}" class="empty-blog">
            <img src="/images/hi.png" alt="포스트가 없습니다.">
            <p>포스트가 없습니다.</p>
        </div>
        <div th:unless="${blog.posts.isEmpty()}" class="post-list">
            <div th:each="post : ${blog.posts}" class="post-preview">
                <a th:href="@{/api/posts/{id}(id=${post.postId})}">
                    <div class="post-image">
                        <img th:if="${post.images.size() > 0}" th:src="@{{fileName}(fileName=${post.images[0].filePath})}" alt="이미지 미리보기">
                    </div>
                    <div class="post-title">
                        <h2 th:text="${post.title}">제목</h2>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
</body>
</html>