<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>헤더</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header>
    <div class="header-left">
        <h1><a href="/blogs" style="color: white; text-decoration: none;">Blog</a></h1>
    </div>
    <div class="header-right">
        <h1><a th:if="${user == null}" href="/loginform" style="color: white; text-decoration: none;" class="must-be-login">로그인</a></h1>
        <img th:if="${user !=null and user.profileImage != '/upload/null'}" th:src="@{|${user.profileImage}|}" alt="이미지 로딩중" class="profile-pic">
        <img th:if="${user !=null && user.profileImage == '/upload/null'}" src="/images/hi.png" alt="이미지 없음" class="profile-pic">
        <div class="dropdown-content" id="dropdown-content">
            <a th:href="@{/blogs/{id} (id=${blog != null ? blog.blogId : 0})}">내 블로그</a>
            <a href="/posts/new">새 글 작성</a>
            <a th:href="@{/blogs/draft/{id} (id=${blog != null ? blog.blogId : 0})}">임시글 목록</a>
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</header>

<script>
    // 공통 함수로 드롭다운 토글 기능 정의
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown-content');
        dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'block' : 'none';
    }

    // profile-pic에 클릭 이벤트 리스너 추가
    var profilePics = document.querySelectorAll('.profile-pic');
    profilePics.forEach(function(pic) {
        pic.addEventListener('click', toggleDropdown);
    });

    // 클릭 외부 감지하여 드롭다운 닫기
    document.addEventListener('click', function(event) {
        var isClickInside = document.querySelector('.header-right').contains(event.target);
        if (!isClickInside) {
            var dropdown = document.getElementById('dropdown-content');
            dropdown.style.display = 'none';
        }
    });
</script>

</body>
</html>
