<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">게시글 상세</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1 th:text="${post.title}">게시글 제목</h1>
    <div class="post-content">
        <div th:if="${post.images.size() > 0}" class="post-images">
            <div th:each="image : ${post.images}">
                <img th:src="@{{fileName}(fileName=${post.images[0].filePath})}" alt="이미지">
            </div>
        </div>
        <p th:text="${post.content}">게시글 내용</p>
    </div>
    <button onclick="goBack()">이전 화면으로 돌아가기</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
</body>
</html>